body {
    background-color: grey;
  
}

h1 {
   text-align: center;
    color: yellow;
    font-family: verdana;
    font-size: 400%;   
}

body {
   text-align: center;
    color: yellow;
    font-family: "Comic Sans MS";
    font-size: 600%;   
}